/* Botão selecionado */
.btn-selecionado {
    background-color: var(--cor6);
    color: var(--cor4);
    padding: 8px 16px; 
    width: 100%; 
    border: none;
    border-radius: 30px;
    font-size: 1rem; 

}
.eventosHome{
  background-color: var(--cor1);
  padding-top: 70px;
  padding-bottom: 70px;
}
/* Botão de mês */
.btn-mes {
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 8px 16px; 
      width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 1rem; 

}
 @media (max-width: 992px) {
.btn-mes {
  font-size: 13px;
}
.btn-selecionado{
  font-size: 13px;
}

}



.cardEventos{
    padding: 30px;
    border-radius: 40px;
    background-color: var(--cor4);
    color: var(--cor1);
    height: 300px ;
    
}
.tituloEvento{
    color: var(--cor3);
}



.container-iconeEvento img{
width: 80px;
}






.splide-container {
  position: relative !important;
}


.splide__arrow {
  background-color: var(--cor3) !important;  
  color: white !important; 
  border-radius: 50% !important;  
  padding: 10px !important;
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;  
  transition: background-color 0.3s ease !important;
}




@media (min-width: 600px) {
  .splide__arrow--prev {
    left: -40px !important; 
  }
  
  .splide__arrow--next {
    right: -40px !important; 
  }
}









