:root {
  --cor1: #e6e4cd;
  --cor2: #ddd1a4;
  --cor3: #cfb556;
  --cor4: #67295c;
  --cor5: #b08ddf;
  --cor6: #dccaf4;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--cor4);
  background: var(--cor1);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
