:root {
  --cor1: #e6e4cd;
  --cor2: #ddd1a4;
  --cor3: #cfb556;
  --cor4: #67295c;
  --cor5: #b08ddf;
  --cor6: #dccaf4;
}


.bannerTour {
    display: flex;
    justify-content: center;
    background-color: var(--cor4);
    margin-bottom: 50px;
}

.bannerTour img {
    width: 100%;
    height: auto;
    display: block;
}
